<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="dialog2">
		<size>676,450</size>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrl1" member="yes">
			<value>Text</value>
			<pos>112,64</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="TextCtrl2" member="yes">
			<value>Text</value>
			<pos>112,104</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="TextCtrl3" member="yes">
			<value>Text</value>
			<pos>112,144</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
			<label>NOME:</label>
			<pos>72,68</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
			<label>CPF:</label>
			<pos>80,108</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
			<label>RG:</label>
			<pos>80,148</pos>
		</object>
	</object>
</wxsmith>
